<div class="container">
    <div class="row justify-content-md-center">
      <div class="col-12 col-md-11 col-lg-8 col-xl-7 col-xxl-6">
        <div class="bg-white p-4 p-md-5 rounded shadow-sm">
          <div class="row">
            <div class="col-12">
              <div class="mb-5">
                <h3>Log in</h3>
              </div>
            </div>
          </div>
          <form (ngSubmit)="onLoginClick()" [formGroup]="bidForm">
            <div class="row gy-3 gy-md-4 overflow-hidden">
              <div class="col-12">
                <label for="email" class="form-label">Bid Amount <span class="text-danger">*</span></label>
                <input type="number" class="form-control" formControlName="bidAmount" placeholder="Enter Your Bid Amount" required>
                <div class="error" >
                  <span *ngIf="submitted && bidForm.get('bidAmount')?.hasError('required')">
                    Bid Amount is required!
                  </span>
                  <span *ngIf="submitted && bidForm.get('bidAmount')?.hasError('min')">
                    Bid Amount should be greater than current bid!
                  </span>
                </div>
              </div>
              <div class="col-12">
                <div class="d-grid">
                    <button type="submit" data-mdb-button-init data-mdb-ripple-init class="btn btn-outline-primary btn-sm mt-2">
                        Place Bid
                      </button>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
